<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <configSections/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <httpRuntime targetFramework="4.5"/>

    <healthMonitoring enabled="true">
      <rules>
        <add name="All Errors" eventName="All Errors" provider="EventLogProvider" />
      </rules>
    </healthMonitoring>

  </system.web>
  <system.webServer>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="20971520" />
        <!-- 20MB in bytes -->
      </requestFiltering>
    </security>
    
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      
    </handlers>
  </system.webServer>
  <appSettings>
    <!--<add key="EXELOC" value="D:\final\RET (1)\RET (1)\RET\RET\Timer Run\qxmf001\"/>-->
    <add key="ChartImageHandler" value="storage=file;timeout=20;"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/" value="51972;True;6676;1;-8586505343411195198"/>
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup"/>
  </appSettings>
  <connectionStrings>
    <!--Local-->
    <!--<add name="Mycon" connectionString="Data Source=DESKTOP-1OO3B2D\SQLEXPRESS;Initial Catalog=KaizenTrial3;Integrated Security=True;Encrypt=False;Min Pool Size=10; Max Pool Size=20000" providerName="System.Data.SqlClient"/>-->
    <!--Online-->
    <!--<add name="Mycon" connectionString="Data Source=EC2AMAZ-HC9DTLO;Initial Catalog=KaizenPortal;Persist Security Info=True;User ID=kaizenTrade;Password=Kaizen2021@;Min Pool Size=10; Max Pool Size=20000" providerName="System.Data.sqlclient" />-->
    <!--<add name="Mycon" connectionString="Data Source=EC2AMAZ-HC9DTLO;Initial Catalog=KaizenTrial;Persist Security Info=True;User ID=kaizenTrade;Password=Kaizen2021@;Min Pool Size=10; Max Pool Size=20000" providerName="System.Data.sqlclient"/>-->
    <!-- <add name="Mycon" connectionString="Data Source=database-1.cjecugs26tag.eu-north-1.rds.amazonaws.com,1433;Initial Catalog=KaizenTrial3;User ID=admin;Password=Sh03087647060;Encrypt=False;Min Pool Size=10;Max Pool Size=20000" providerName="System.Data.SqlClient"/>
    -->

    <add name="Mycon" connectionString="Data Source=DESKTOP-IC3E5T9;Initial Catalog=KaizenTrial;Persist Security Info=True;User ID=sa;Password=123;Min Pool Size=10; Max Pool Size=20000" providerName="System.Data.sqlclient" />

    <!--<add name="Mycon" connectionString="Data Source=DESKTOP-IC3E5T9;Initial Catalog=KaizenTrial3;Integrated Security=True;Encrypt=False;Min Pool Size=10; Max Pool Size=20000" providerName="System.Data.SqlClient"/>-->
     </connectionStrings>
  <system.web>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20000"/>
    <customErrors mode="Off"/>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="43200" defaultUrl="~/"/>
    </authentication>
    <globalization culture="en-GB"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"/>
  </runtime>
</configuration>